.jumbotroon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #0033aa, #0099ff);
  padding: 30px;
}
.jumbotroon h1{
  color: #ffffff;
}
.jumbotroon .form{
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
.jumbotroon .form input{
  border: none;
  padding: 5px;
  width: 350px;
}
.jumbotroon .form .btn-submit{
  border: none;
  background-color: #ff9900;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  width: 500px;
  display: flex;
  flex-direction: row;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}
.card .text{
  flex: 3;
}
.button-action{
  flex: 1;
}
.btn-edit{
  border: none;
  background-color: #ff9900;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  margin: 1px;
}
.btn-delete{
  border: none;
  background-color: #ff0044;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  margin: 1px;
}